<h1><%= link_url(@link) %></h1>

<form action='<%= update_path(@link) %>' method='POST'>
  <input type='hidden' name='_method' value='PUT'>
  <p>Name: <input type='text' name='new_name' placeholder='short-name' value="<%= @link.name %>"></p>
  <p>URL: <input type='text' name='url' placeholder='https://...' value="<%= @link.url %>"></p>
  <p><input type='submit' value='Save'></p>
</form>

<form action='<%= update_path(@link) %>' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <p><input type='submit' value='Delete'></p>
</form>

