<h1><%= @title %></h1>

<section class='link-list'>
  <ul>
    <% @links.each do |name| %>
      <li><a href='/<%= name %>+'><%= name %></a></li>
    <% end %>
  </ul>
</section>

<% if @next_token %>
  <a href="<%= request.path %>?token=<%= URI.encode_www_form_component(@next_token) %>">More...</a>
<% end %>
