<section class='link'>
  <header>
    <h2><a href="<%= short_link_url(@link) %>"><%= short_base_url.gsub(%r{\A.+://}, '') %>/<%= @link.name %></a></h2>
    <a href='#' class='btn-link copy_btn'><input class='copy_btn_input' tabindex='-1' value="<%= short_link_url(@link) %>"><span class='copy_btn_text'>Copy</span></a>
    <a href="<%= edit_path(@link) %>" class='btn-link'>Edit</a>
  </header>

  <p><a class='link-url' href="<%= @link.url %>"><%= @link.url %></a></p>

  <div class='infos'>
    <section>
      <h3>Embed</h3>
      <div class='barcode'>
        <img src="<%= barcode_path(@link, 'small', 'svg') %>" width='60' height='60'>
      </div>
      <p>Use PDF for Keynote</p>
      <h4>Code + URL (Horizontal)</h4>
      <ul>
        <li><a href="<%= barcode_path(@link, 'horizontal', 'pdf') %>">PDF</a></li>
      </ul>
      <h4>Code + URL (Vertical)</h4>
      <ul>
        <li><a href="<%= barcode_path(@link, 'vertical', 'pdf') %>">PDF</a></li>
      </ul>
      <h4>Code Only</h4>
      <p class='small'>Code + URL is recommended</p>
      <ul>
        <li><a href="<%= barcode_path(@link, 'small', 'pdf') %>">PDF</a></li>
        <li><a href="<%= barcode_path(@link, 'small', 'svg') %>">SVG</a></li>
        <li><a href="<%= barcode_path(@link, 'small', 'png') %>">PNG</a></li>
      </ul>
    </section>
    <section>
      <h3>Metadata</h3>
      <ul>
        <li>Updated at: <%= @link.updated_at.utc.iso8601 %></li>
      </ul>
    </section>
    <section>
      <h3>Actions</h3>
      <nav>
        <p><a href="<%= urls_path(@link.url) %>">List all links for this URL</a></p>
      </nav>
    </section>

    <script type='text/javascript'>
      "use strict";
      document.addEventListener("DOMContentLoaded", function() {
        const copySupported = document.queryCommandSupported("copy");
        document.querySelectorAll(".copy_btn").forEach(function(elem) {
          if (!copySupported) {
            elem.className += ' hidden';
            return;
          }
          elem.addEventListener("click", function(e) {
            const value = e.currentTarget.querySelector(".copy_btn_input");
            value.focus();
            value.select();
            document.execCommand("copy");
            e.currentTarget.querySelector(".copy_btn_text").innerHTML = "Copied!";
            e.preventDefault();
          });
          elem.addEventListener("mouseleave", function(e) {
            e.currentTarget.querySelector(".copy_btn_text").innerHTML = "Copy";
          });
        });
      });
    </script>
</section>
